<h1>This User</h1>

<p><%= @user.username %></p>
<p><%= @user.email %></p>

<%= link_to "Delete This User", @user, method: :delete %>

<%= button_to('Delete This User', @user,
          method: "delete", remote: true, data: { confirm: 'Really??>??', disable_with: 'loading...' }) %>

<%= button_to('Go To This User', users_path,
          method: "get", remote: true, data: { confirm: 'Really??>??', disable_with: 'loading...' }) %>
